body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.current {
    border: 1px solid black;
    margin-top: 3rem;
}