body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 8px;
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(236, 236, 221);
    font-size: medium;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

input:invalid:focus {
    border-color: red;
}

label {
    font-size: medium;
}

button {
    width: 8em;
    height: 2rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: green;
    font-size: medium;
}

button:hover {
    background-color: darkgreen;
}

.current {
    border: 1px solid black;
    margin-top: 3rem;
    padding: 1rem;
    font-size: medium;
    font-weight: 700;
}

.img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.predict {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    margin: 1rem;
}

.temp {
    margin-left: 2rem;
}

.forecast-title {
    font-weight: bold;
    font-size: large;
    text-align: center;
}